window#waybar {
    background-color: rgba(9, 18, 3, 0.3);
    color: #412438;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    border-bottom-color: rgba(65, 36, 56, 0.6);
    border-radius: 16px;
}

#cpu {
    font-family: "JetBrainsMono Nerd Font", "Maple Mono NF";
    font-size: 14px;
    padding: 0 6px;
    margin: 0;
}
#workspaces button {
    font-family: "JetBrainsMono Nerd Font";
    background-color: transparent;
}

#cpu, #memory, #clock, #tray, #bluetooth, #memory, #temperature {
    margin: 0 2px;
    font-family: "JetBrainsMono Nerd Font", "Maple Mono NF";
}

#pulseaudio{
    padding:0 10px;
}
#custom-discord{
    padding: 0 10px;   
}

#workspaces button.active {
    font-family: "JetBrainsMono Nerd Font", "Maple Mono NF";
    border-radius: 16px;
    opacity: 0.4;
}

/* COLOR SCHEMES */
#cpu, #memory, #clock, #tray, #bluetooth, #memory, #temperature, #workspaces button, #workspaces button.active, #pulseaudio, #custom-discord {
    color: rgba(65, 36, 56, 1);
}
#workspaces button.active {
    background-color: #3f2131;
}
#custom-discord.active { color: #5865F2; }
#custom-discord.inactive { color: #6c757d; }